packages/
VX.Web/Web.Release.config
VX.Web/Web.Release.Test.config
VX.Web/bin/
VX.Web/obj/
VX.Web.Infrastructure/bin/
VX.Web.Infrastructure/obj/
_ReSharper.VX.Web/
VX.Web.suo
VX.Web.sln.DotSettings.user